Source: struktor
Section: contrib/x11
Priority: optional
Build-Depends-Indep: debhelper (> 3.0)
Maintainer: Kim Neunert <k9ert@gmx.de>
Standards-Version: 3.5.2

Package: struktor
Architecture: all
Depends: java-virtual-machine, java2-runtime
Description: A graphical Editor for Nassi-Shneiderman-Diagrams 
 Struktor is a graphical editor for nassi-shneidemann-Diagrams programmed in 
 java. The diagrams could be executed directly by a builtin interpreter.
 The following is supported:
  - Datatypes: integer, double, character, strings and pointers
  - diagrams as finction-calls (recursive calls as well)
  - In- and Output via pop-up-windows
  - addiotional output-possibilities via a kind of terminal and a graphical window
  - Watchlist, breakpoints and step-by-step execution
  - as applet (complexity is configurable) as well as application
 .
 Homepage: http://www.learn2prog.de
